body
  text-align: center
  font-family: 'Baloo Bhaina', cursive

.center ul
  width: -moz-fit-content
  width: -webkit-fit-content
  width: fit-content
  margin: auto

canvas
  height: 200px
  width: 400px

.chart
  max-width: 70%
  max-height: 700px
