<!DOCTYPE html>
<head>
  <title>Loan Tracker</title>
  <link rel="stylesheet" href="./stylesheets/site.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>
<body ng-app="Widget">
  <div>

    <h1>Loan Tracker</h1>

    <div class="nav center" ng-controller="InputController">

      <ul>

      <form id="forms" ng-submit="input()">
        Your Loan: <input class="boxes" text="text" ng-model="query.scholarship" placeholder="Loan" />
        Interest Rate: <input class="boxes" text="text" ng-model="query.interest" placeholder="ex: 5% => 0.05" />
        Length of Loan (Months): <input class="boxes" text="text" ng-model="query.loanPeriod" placeholder="# of Months" />
        You want to pay: <input class="boxes" text="text" ng-model="query.optionalPayment" placeholder="ex: 50.00" />
        <button id="submit" class="boxes" ng-click="input(); showChart = !showChart">Track Your Loan! </button>
      </form>

      <span ng-controller="CurrentRateCtrl">
        <p id="sidebar" ng-click="currentRate()"/>Click For Current Interest Rates </p>
          <span id="side" class="sidenav">
            <h3>Current Interest Rates</h3>
            <p>Direct Subsidized Undergrad: <span class="rate">{{rates.directSubsidizedUndergrad}}</span></p>
            <p>Direct Unsubsidized Undergrad: <span class="rate">{{rates.directUnsubsidizedUndergrad}}</span></p>
            <p>Direct Unsubsidized Graduate and Professional: <span class="rate">{{rates.directUnsubsidizedGrad}}</span></p>
            <p>Direct Plus: <span class="rate">{{rates.directPlus}}</span></p>
            <p>Bank Loan: <span class="rate">{{rates.bankLoan}}</span></p>
            <p>University Loan: <span class="rate">{{rates.universityLoan}}</span></p>
            <br>
            <a href="#" ng-click="currentRate()"> Close</a>
        </span>
      </span>

      <div id="howMuch">
        <p>You should pay: $<span class="monthly">{{monthly}}</span> over the course of: <span class="months">{{months}}</span> months</p>
        <p>If you paid: $<span class="monthly">{{monthly2}}</span> per month, it would take you <span class="months">{{newMonths}}</span> months to pay off the loan</p>
      </div>

      <div id="lines" class="container" ng-if="showChart">
        <!-- <h3>Your Payments</h3> -->
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" ></canvas>
      </div>

    </ul>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="./src/app.js"></script>

</body>
</html>
